.app-home {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 10px;
}

.row {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1,
h3 {
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}

#tryAsGuest {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}